services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - 1883:1883
    volumes:
      - ./mosquitto/config:/mosquitto/config:ro
  ingester:
    build: ./services/ingester
    depends_on:
      - mosquitto
    volumes:
      - ./data:/data
  api:
    build: ./services/api
    ports:
      - 8000:8000
    volumes:
      - ./data:/data
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - api
