x-shared-environment: &shared-environment
  TZ: America/New_York

services:
  mosquitto:
    image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - 1883:1883
    volumes:
      - ./mosquitto/config:/mosquitto/config:ro
    environment:
      <<: *shared-environment

  db-init:
    build: ./services/db-init
    volumes:
      - ./data:/data
    environment:
      <<: *shared-environment

  ingester:
    build: ./services/ingester
    restart: unless-stopped
    depends_on:
      mosquitto:
        condition: service_started
      db-init:
        condition: service_completed_successfully
    volumes:
      - ./data:/data
    environment:
      <<: *shared-environment

  # simulator:
  #   build: ./services/simulator
  #   restart: unless-stopped
  #   depends_on:
  #     mosquitto:
  #       condition: service_started
  #     db-init:
  #       condition: service_completed_successfully
  #   volumes:
  #     - ./data:/data
  #   environment:
  #     <<: *shared-environment

  api:
    build: ./services/api
    restart: unless-stopped
    ports:
      - 8000:8000
    depends_on:
      db-init:
        condition: service_completed_successfully
    volumes:
      - ./data:/data
    environment:
      <<: *shared-environment

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - api
    environment:
      <<: *shared-environment
